/* media queries */
@media  (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
  .features .row{
    justify-content: center;
  }
  .home .row .image {
    margin-top: 20rem;
  }
  .content .icons {
    flex-wrap: nowrap;
  }
  .content .icons a {
    width: 60px;
    height: 50px;
}
.portfolio .box-container  {
  justify-content: center;
  display: flex;
}
#menu-btn {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 30px;
  color: var(--red);
}


.header .navbar {
  display: none;
}

.nav-menu.active {
  left: 0%;
}
}
@media (max-width: 991px){


  #menu-btn {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 30px;
    color: var(--red);
  }


  .header .navbar {
    display: none;
  }

  .nav-menu.active {
    left: 0%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .portfolio .box-container {
    justify-content: center;
  }
  .header {
    padding: 1.5rem 2rem;
  }
}
